.ckus_top_page .ckus_date {
    left: 6in;
    width: 1.5in;
}
.ckus_top_page .ckus_payee_name {
    left: 0.95in;
}
.ckus_top_page .ckus_amount {
    left: 6in;
    width: 1.5in;
    text-align: center;
}
.ckus_top_page .ckus_amount_in_word {
    font-weight: normal;
    left: 0.40in;
}
.ckus_top_page .ckus_payee_addr {
    top: 1.8in;
    left: 0.95in;
}
.ckus_top_page .ckus_memo {
    top: 2.6in;
    left: 0.7in;
}
