.ckus_top_page .ckus_stub_1 {
    top: 3.5in;
}
.ckus_top_page .ckus_date {
    left: 6in;
    width: 1.5in;
}
.ckus_top_page .ckus_payee_name {
    top: 0.54in;
    left: 0.95in;
    display: none;
}
.ckus_top_page .ckus_amount {
    top: 1.2in;
    left: 6in;
    width: 1.5in;
    text-align: center;
}
.ckus_top_page .ckus_amount_in_word {
    top: 1.2in;
    font-weight: normal;
    left: 0.65in;
}
.ckus_top_page .ckus_payee_addr {
    top: 1.55in;
    left: 0.65in;
}
.ckus_top_page .ckus_memo {
    top: 2.2in;
    left: 0.65in;
}
